<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Full List of Players</title>
  </head>

  <body>
    <h1 style="font-family: Impact; color: blue">List of Teams in The League</h1>

    <h2>
    <strong>
    <ul>
        <li> <a href="http://localhost:4567/team/Simpson%20Slammers">Simpson Slammers </a> </li>
        <li> <a href="http://localhost:4567/team/Jetson%20Jets">Jetson Jets</a></li>
        <li> <a href="http://localhost:4567/team/Flinestone%20Fire">Flinestone Fire</a></li>
        <li> <a href="http://localhost:4567/team/Griffin%20Goats">Griffin Goats</a></li>
    </ul>
    </strong>
    </h2>
  </body>
</html>
